.logoWrapper {
    position: absolute;
    top: 1rem;
    left: 1rem;
    width: 48px;
    height: 48px;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.8s ease, transform 0.8s ease;
    z-index: 20;
  }
  
  .visible {
    opacity: 1;
    transform: translateY(0);
  }
  