.wrapper {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: 0;

    /* -webkit-mask-image: linear-gradient(to bottom, black 75%, transparent 100%);
    mask-image: linear-gradient(to bottom, black 75%, transparent 100%);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%; */
  }
  .videoMobile {
    position: relative;
    width: 110%;
  }
   
  .player {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: auto !important;
  }
  
  
  