.wrapper {
    position: relative;
    width: 100%;
    height: 100vh;
    z-index: 0; /* En el flujo normal */
    overflow: hidden;
  }
  
  .player {
    position: absolute;
    top: 0;
    left: 0;
  }
  