.wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
  z-index: 0;
  overflow: hidden;
}

.player {
  position: absolute;
  top: 0;
  left: 0;
}

.mobile {
  transform: rotate(90deg);
  transform-origin: center center;
  width: 100vh !important;
  height: 100vw !important;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  object-fit: cover;
}
